body,
html {
  font-family: "Raleway", sans-serif;
  background-color: rgb(237, 237, 19);
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5%;
}

header h1,
p {
  font-size: 1.7em;
}

p {
  padding: 20px 40px;
}

section {
  display: flex;
  flex-direction: column;
}

section p {
  align-self: center;
}

input {
  text-align: center;
  align-self: center;
  font-size: 20px;
  color: rgb(255, 187, 0);
  width: 250px;
  height: 70px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: none;
}

button {
  display: flex;
  align-self: center;
  margin-top: 25px;
}
button:hover {
  color: rgb(240, 146, 6);
}
button a {
  text-decoration: none;
}

#answerBox {
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(236, 72, 72);
  margin-top: 40px;
  padding: 2em;
  border: dashed 3px red;
  animation: flash_border 2s ease-in infinite;
}

@keyframes flash_border {
  0% {
    border-color: red;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: red;
  }
}

#answerBox h3 {
  text-align: center;
  padding: 0px 30px;
}

#answerBox h2 {
  font-size: 28px;
  text-align: center;
  color: white;
  text-shadow: -2px -3px rgb(226, 59, 8);
}

footer {
  position: relative;
  width: 100%;
  bottom: -100px;
}
footer p {
  text-align: center;
}
hr {
  width: 60%;
}

/*media query for Iphone 6,7,8*/
@media only screen and (min-device-width: 375px) {
  body {
    padding: 10px;
  }
  h1,
  p {
    font-size: 1em;
  }

  #answerBox {
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 414px) {
  h1,
  p {
    font-size: 1.3em;
  }
}
